/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
	background-image: url('assets/bg-background-coor.png');
    margin: 0;
    padding: 0;
}

.header-content {
    background-color: green;
	line-height: 1.69;
    padding: 20px;
    text-align: left;
}

.container {
    max-width: 1500px;
	height:2;
    margin: 0 auto;
    padding: 0 20px;
}

.banner {
    background-image: url('assets/home.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    display: inline;
    margin-right: 20px;
}

.menu-list li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.about-section {
    margin-top: 50px;
}

.about-content {
    display: inline-flex;
    justify-content: space-between;
    align-items: left;
    flex-wrap: wrap;
}



.school-info {
    
    text-align: left;
}

.school-info img {
    
    margin-top: 20px;
    border-radius: 0px;
}

.principal-section {
    margin-top: 50px;
    text-align: left;
}

.principal-img {
	display:right;
    width: 400px;
    border-radius: 0%;
    margin-bottom: 0px;
}

.award-section {
    margin-top: 50px;
    text-align: center;
}

.award-item {
    margin-bottom: 30px;
}
.video-container{
	height:400px;
	margin:20px;
}
.image-slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.image-slider img {
    width: 100%;
    height: auto;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}



.gallery-section {
    margin-top: 50px;
}

.gallery-item img {
    width: 100;
	height:400p;
}

.map-section {
    margin-top: 50px;
    text-align: center;
}

.map-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.contact-section {
    margin-top: 50px;
    text-align: center;
}

.contact-info {
    text-align: left;
    margin-top: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer .logo-footer img {
    width: 100px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .about-content {
        flex-direction: column;
    }

    .quote,
    .school-info {
        flex-basis: 100%;
    }
}

